
<div class="container mainContainer">
  <div class="columns is-multiline is-mobile">
    <div class="column is-2-mobile is-1-desktop">
      <figure class="image is-64x64">
        <img class="profilePicSmall" src=<%= image.createdBy.imageUrl %>>
      </figure>
    </div>
    <div class="column is-two-thirds-mobile is-one-quarter-desktop">
      <p class="is-size-5 has-text-black has-text-weight-bold"><%= image.createdBy.username %></p>
      <p class="is-size-5"><i class="fas fa-map-marker-alt"></i> <%= image.location %></p>
    </div>
  </div>

  <div class="level is-mobile">
    <div class="level-left">
      <%# Show image if the it belongs to current logged in user  %>
      <% if(locals.loggedInUser.id === image.createdBy.id && locals.isLoggedIn) { %>
        <a class="button is-info" href="/images/<%= image.id %>/edit">Edit</a>
        <form class="" action="/images/<%= image.id %>" method="POST">
        </div>
        <div class="level-right">
        <button class="button is-warning">Delete</button>
        <input type="hidden" name="_method" value="DELETE">
        </form>
        <% } %>
      </div>
    </div>

    <div class="columns is-mobile is-multiline">
      <div class="column is-half-desktop is-full-mobile">
        <img src="<%= image.image %>" alt="user image">
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <p><span class="has-text-weight-bold"><%= image.createdBy.username %></span></p>
        <p class="imageDescription"><%= image.description %> </p>
        <hr>
        <h1>Comments</h1>
        <div class="level is-mobile">
          <div class="level-left">
            <% if(locals.loggedInUser.id === image.createdBy.id && locals.isLoggedIn) { %>
              <a class="button is-info" href="/images/<%= image.id %>/edit">Edit</a>
              <form class="" action="/images/<%= image.id %>" method="POST">
              </div>
              <div class="level-right">
              <button class="button is-warning">Delete</button>
              <input type="hidden" name="_method" value="DELETE">
              </form>
              <% } %>
            </div>
          </div>
          <% image.comments.forEach(comment => { %>
            <p><span class="commenter has-text-weight-bold"><%= comment.name %></span>
            <%= comment.content %>
            </p>
            <% if (locals.isLoggedIn && locals.loggedInUser.username === comment.name) { %>
              <form action="/images/<%= image.id %>/comments/<%= comment.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button class="tag is-delete"></button>
              </form>
              <% } %>
              <% }) %>

              <form action="/images/<%= image.id %>" method="POST">
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" type="text" rows="3" placeholder="Add a comment..." name="content"></textarea>
                    <input type="hidden" name="name" value="<%= locals.loggedInUser.username %>">
                  </div>
                </div>
                <button class="button is-link is-fullwidth">Add</button>
              </form>
            </div>
          </div>
