
<section class="section imagesShowSection">

  <div class="columns is-multiline is-mobile">
    <%# Profile pic, username & location %>
    <div class="column is-primary is-2-mobile is-1-desktop">
      <figure class="image is-64x64">
        <img class="profilePicSmall" src=<%= image.createdBy.imageUrl %>>
      </figure>
    </div>
    <div class="column is-3-mobile is-4-desktop">
      <h5><%= image.createdBy.username %></h5>
      <h6><i class="fas fa-map-marker-alt"></i> <%= image.location %></h6>
      <% if(locals.loggedInUser.id === image.createdBy.id && locals.isLoggedIn) { %>
        <a class="button is-small" href="/images/<%= image.id %>/edit">Edit</a>
        <form class="" action="/images/<%= image.id %>" method="POST"></form>
        <% } %>
    </div>
  </div>
  
    <div class="columns is-mobile is-multiline">
      <div class="column is-half-desktop is-full-mobile">
        <img src="<%= image.image %>" alt="user image">
      </div>
      <div class="column is-half-desktop is-full-mobile">
        <h5><%= image.createdBy.username %></h5>
        <h6><%= image.description %> </h6>
        <hr>
        <h5>Comments</h5>
          <% image.comments.forEach(comment => { %>
            <h5><%= comment.name %></h5>
            <h6 class="commentContent"><%= comment.content %></h6>
            <% if (locals.isLoggedIn && locals.loggedInUser.username === comment.name) { %>
              <form action="/images/<%= image.id %>/comments/<%= comment.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button class="tag is-delete"></button>
              </form>
              <% } %>
              <% }) %>

              <form action="/images/<%= image.id %>" method="POST">
                <div class="field">
                  <div class="control">
                    <textarea class="textarea" type="text" rows="3" placeholder="Add a comment..." name="content"></textarea>
                    <input type="hidden" name="name" value="<%= locals.loggedInUser.username %>">
                  </div>
                </div>
                <button class="button is-link is-fullwidth">Add</button>
              </form>
            </div>
          </div>

        </section>
