<%# Profile pic, username and location %>
<p class="has-text-weight-bold"> <%= locals.user.username %> </p>
<p class="subtitle"><%= image.location %></p>

<%# Image %>
<img src="<%= image.image %>" alt="user image">

<%# Username and description %>
<p> <span class="has-text-weight-bold"><%= locals.user.username %> </span>
<%= image.description %>
</p>

<hr>

<% image.comments.forEach(comment => { %>
  <p><span class="commenter has-text-weight-bold"><%= comment.name %></span>
  <%= comment.content %>
  </p>
  <% }) %>

  <hr>

  <form action="/images/<%= image.id %>" method="POST">
    <div class="field">
      <div class="control">
        <textarea class="textarea" type="text" rows="3" placeholder="Add a comment..." name="content"></textarea>
        <input type="hidden" name="name" value="<%= locals.user.username %>">
      </div>
    </div>
    <button class="button is-link is-fullwidth">Add</button>
  </form>
