<div class="columns is-multiline">
  <div class="column">
    <h1 class="title is-8"> <%= locals.user.username %> </h1>
    <h1 class="title is-8"><%= image.location %></h1>
    <img src="<%= image.image %>" alt="user image">
    <p class="subtitle is-3"><%= locals.user.username %> <%= image.description %></p>
  </div>
</div>
