
<div class="section editProfileSection">
  <h2>Edit Profile</h2>
  <img class="image editProfilePic" src="<%= user.imageUrl %>">
  <form class="editProfileForm" method="POST" action="/users/<%=user.id%>">
    <div class="field">
      <a class="button" id="uploadImageBtn">Choose an image</a>
      <label class="label" for="imageUrl">Selected Image</label>
      <div class="control">
        <input id="imageURL" class="input" type="text" name="imageUrl" placeholder="Image URL">
      </div>
    </div>
    <div class="field">
      <label class="label" for="fullName">Full Name</label>
      <div class="control">
        <input class="input is-fullwidth" type="text" value="<%= user.fullName %>" name="fullName">
      </div>
    </div>
    <div class="field">
      <label class="label" for="description">Description</label>
      <div class="control">
        <input class="input is-fullwidth" type="text" value="<%= user.description %>" name="description">
      </div>
    </div>
    <div class="field">
      <label class="label" for="username">Username</label>
      <div class="control">
        <input class="input is-fullwidth" type="text" value="<%= user.username %>" name="username">
      </div>
    </div>
    <div class="field">
      <label class="label" for="email">Email</label>
      <div class="control">
        <input class="input is-fullwidth" type="text" value="<%= user.email %>" name="email">
      </div>
    </div>
    <input type="hidden" name="_method" value="PUT">
    <button class="button is-link is-fullwidth">Save</button>
  </form>

  <form class="deleteAccountForm" action="/users/<%= user.id %>" method="POST">
    <button class="button is-fullwidth deleteAccountBtn"><span>Delete Account</span><i class="fas fa-trash"></i></button>
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>

<script type="text/javascript" src="https://static.filestackapi.com/v3/filestack.js"></script>
<script>
const client = filestack.init('A53jKm6Q0GkLTlst7BB4wz');
const btn = document.getElementById('uploadImageBtn')
btn.addEventListener('click', function () {
  client.pick({})
  .then(function(data) {
    document.getElementById('imageURL').value = data.filesUploaded[0].url;
  })
});
</script>
