<div class="container">
  <h1 class="title is-1">Users on Instagram</h1>
  <div class="columns is-multiline">
  <% users.forEach(user => { %>
    <div class="column is-one-quarter">
    // <a href="/users/<%= user.id %>">
    <img src=<%= user.imageUrl %> alt=<%= user.name %> />
    <h2 class="title is-2"><%= user.name %></h2>
    <h3 class="subtitle is-2"><%= user.description %></h3>
    </a>
    </div>
    <% }) %>
  </div>
</div>
